<section class="content spolubyvajuci">
    <p> Spolu so mnou bývajú:</p>
    <div class="clenovia">
        <div>
            <p class="clen"> braček Simba</p><br>
                <img src="../../assets/img/bracek_Simba.jpg">
        </div>
        <div>
            <p class="clen"> malý Simba</p><br>
                <img src="../../assets/img/maly_simba.jpg">
        </div>
        <div>
            <p class="clen"> chobotnička</p><br>
                <img src="../../assets/img/chobotnicka.jpg">
        </div>
        <div>
            <p class="clen"> prísavník</p><br>
                <img src="../../assets/img/prisavnik.jpg">
        </div>
        <div>
            <p class="clen"> slimáčik</p><br>
                <img src="../../assets/img/slimacik.jpg">
        </div>
        <div>
            <p class="clen"> krevetky</p><br>
                <img src="../../assets/img/krevetky.jpg">
        </div>   
    </div>
</section>
