<section class="menu">
    <div class="example-button-row">
      <a routerLink="home">
        <button mat-raised-button color="primary">Domov</button>
      </a>
      <a routerLink="about">
        <button mat-raised-button color="primary">O mne</button>
      </a>
      <a routerLink="roommates">
        <button mat-raised-button color="primary">Moji spolubývajúci</button>
      </a>
      <a routerLink="contact">
        <button mat-raised-button color="primary">Kontakt</button>
      </a>
      <a routerLink="photo-album">
        <button mat-raised-button color="primary">Fotoalbum</button>
      </a>
    </div>
</section>